@import "../../App.scss";

.btn {
  width: 7.688rem;
  height: 3.188rem;  
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  &.btn-primary{
    background: $color-1;
  }
}
