@import "../../Variables.scss";

#responsive-navbar-nav.collapse {
  flex-grow: initial;
}
.navbar {
  height: 5.938rem;
  .navbar-nav {
    gap: 1.563rem;
    .nav-link {
      color: #fff;
      font-size: 0.875rem;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

.navbar-brand {
  img {
    width: 4rem;
    height: 4rem;
  }
}

.fixed-top {
  position: fixed !important;
  top: -2.5rem;
  right: 0;
  left: 0;
  z-index: 5 !important;
  transform: translateY(40px);
  transition: transform 0.3s;
  background: $color-1;
}

@media (max-width: 991px) {
  .navbar {
    .navbar-nav {
      .nav-link {
        text-align: center;
        font-size: 1.25rem;
      }
    }

    .navbar-toggler {
      border: none;
      padding: 0;
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      }

      &:not(.collapsed) {
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' width='54' height='54' viewBox='0 0 54 54'><path d='M35.6 34.4L28 26.8l7.6-7.6c.2-.2.2-.5 0-.7l-.5-.5c-.2-.2-.5-.2-.7 0l-7.6 7.6-7.5-7.6c-.2-.2-.5-.2-.7 0l-.6.6c-.2.2-.2.5 0 .7l7.6 7.6-7.6 7.5c-.2.2-.2.5 0 .7l.5.5c.2.2.5.2.7 0l7.6-7.6 7.6 7.6c.2.2.5.2.7 0l.5-.5c.2-.2.2-.5 0-.7z'/></svg>") !important;
          width: 3.375rem;
          height: 3.375rem;
          position: relative;
          right: -0.625rem;
        }
      }
    }
    &.fixed-top {
      height: auto;

      .navbar-nav {
        gap: 0.313rem;
        padding-bottom: 0.938rem;
      }
    }
    .menu-mobile {
      width: 100%;
      max-width: 100%;
    }
  }
}
