@import "../../App.scss";

.about-us {
    margin:5.938rem 0 3.438rem 0;
  h2 {
    font-weight: 400;
    font-size: 1.625rem;
    color: $color-1;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }
  .entry {
    color: #3e4d60;
    font-size: 0.938rem;
    line-height: 1.875rem;
    font-weight: 400;
    p {
      & + p {
        margin-top: 0.938rem;
      }
    }
  }

  @media(max-width: $bp-medium){
    .row{
      flex-direction: column;
      div, img{
        width: 100%;
        max-width: 100%;
      }
      h2{
        margin-top: 2.188rem;
      }
    }
  }

}
