@import "../../App.scss";

.informations {
  background: rgba(0, 0, 0, 0.6);
  padding: 1.875rem 0;
  line-height: 1.563rem;
  font-weight: 400;
  font-size: 1rem;
  .title {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: right;
    display: block;
    span {
      display: block;
      color: $color-1;
    }
  }

  & [class*="col"] {
    .content {
      padding-left: 0.938rem;
      padding-right: 0.938rem;
    }
    &:nth-child(n + 2):after {
      content: "";
      background-color: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 0.063rem;
      height: auto;
      left: -0.063rem;
    }
  }
  @media (min-width: $bp-medium) {
    & > .content {
      margin-left: -11.25rem;
    }
  }
  @media (max-width: $bp-medium) {
    display: none;
  }
}
