@import "../../App.scss";

header {
  height: 100vh;
  background: #fff;
  position: relative;
  color: #fff;
  .about {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    h1 {
      font-size: 7.375rem;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 4.188rem;
      position: relative;
      display: inline-flex;
      &:after {
        content: "";
        width: 0.75rem;
        height: 0.75rem;
        display: block;
        background: $color-1;
        position: absolute;
        right: -1.25rem;
        bottom: -0.5rem;
      }
    }
    .description {
      font-size: 1.125rem;
      font-weight: 400;
      margin: 1.25rem 0 3.125rem 0;
    }
  }
  .content {
    position: relative;
    z-index: 3;
  }
  .bg {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .img-bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  .informations {
    position: absolute;
    bottom: 0;
  }
  @media (max-width: $bp-medium) {
    .about {
      max-width: 100%;
      h1 {
        font-size: 3rem;
        &:after {
          height: 0.375rem;
          width: 0.375rem;
          bottom: 1rem;
          right: -0.625rem;
        }
      }
    }
  }
}
