@import "../../App.scss";

.carousel-items {
  @media (min-width: $bp-medium) {
    .slick-track {
      display: flex;
      gap: 1.875rem;
      &:before,
      &:after {
        display: none;
      }
    }
  }

  position: relative;
  margin-top: 5.938rem;

  .slick-arrow {
    border: none;
    padding: 0;
    background: transparent url("../../images/arrow.svg") no-repeat;
    text-indent: -9999px;
    width: 1.063rem;
    height: 2rem;
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    cursor: pointer;
    &.slick-prev {
      left: -3.125rem;
      margin-top: -1rem;
      transform: rotate(-180deg);
    }
    &.slick-next {
      right: -2.5rem;
    }
  }

  .slick-dots {
    list-style: none;
    margin: 1.563rem 0 0 0;
    padding: 0;
    width: 100%;
    display: flex !important;
    justify-content: center;
    gap: 0.938rem;
    li {
      button {
        border: none;
        border-radius: 3.125rem;
        width: 1rem;
        height: 1rem;
        background: #9b9b9b;
        text-indent: -9999px;
      }
      &.slick-active {
        button {
          background: $color-1;
        }
      }
    }
  }

  .slick-slider {
    .card-title {
      color: #3e4d60;
      font-size: 1.25rem;
      font-weight: 400;
      margin-bottom: 0.55rem;
    }
    .card-text {
      font-size: 1rem;
      color: #8c94a8;
      font-weight: 400;
      line-height: 1.25rem;
    }
  }

  .card {
    border: none;
    min-height: 22.813rem;
  }
}
