@import "../../App.scss";

.footer {
  .content {
    font-size: 0.688rem;
    color: #908c8c;
    font-weight: 400;
    border-top: 0.063rem solid #f1f1f2;
    padding-top: 0.313rem;
    p{
        opacity: 0.5;
    }

    @media(max-width: $bp-medium){
      text-align: center;
    }

  }
}
