* {
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
  background: #f8f8f8;
}

a:focus,
button:focus,
input:focus,
:focus {
  outline: none;
}

a::-moz-focus-inner,
button::-moz-focus-inner,
input::-moz-focus-inner,
::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}
